<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.dao.SkillDao">
    <insert id="add" parameterType="com.oa.entity.Skill">
        insert into t_skill (content, createTime, u_no)
        VALUES (#{content}, now(), #{u_no});
    </insert>
</mapper>