<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.dao.StaffDao">
    <select id="selectStaffAll" resultType="com.oa.entity.Staff">
        select * from t_staff
    </select>
    <insert id="insertStaff" parameterType="com.oa.entity.Staff">
         insert into t_staff (u_no,name,d_id,flag,sex,email,qq,phone,heading,entryTime,d_name)
        values (#{u_no},#{name},#{did},#{flag},#{sex},#{email},#{qq},#{phone},#{heading},#{entryTime},#{d_name})
    </insert>
    <delete id="del" parameterType="int">
        delete from t_staff where id=#{id}
    </delete>
</mapper>